@import url("https://use.typekit.net/fvv4jrb.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

:root {
  --primary-color: #00a648;
  --black-color: #1b1f1b;
  --gray-color: #363636;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

#menuBar {
  display: none;
}

#closeBtn {
  display: none;
}

.my-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--primary-color);
  width: 192px;
  height: 56px;
  text-align: center;
  border: none;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  transition: 0.4s;
}

.my-btn:hover {
  background-color: #fff;
  color: var(--primary-color);
  transition: 0.4s;
}

.floating-chat {
  position: fixed;
  right: 30px;
  width: 100%;
  bottom: 40px;
  height: 50px;
  width: 90px;
  z-index: 66;
}

.floating-chat img {
  width: 100%;
}

.head-content {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.head-title {
  color: var(--black-color);
  text-align: center;
  font-size: 36px;
  font-style: italic;
  font-weight: 800;
  position: relative;
  line-height: 44px;
}

.head-title::after {
  content: "";
  height: 18px;
  width: 100px;
  bottom: -30px;
  border-radius: 50px;
  background-color: var(--primary-color);
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.head-desc {
  width: 55%;
  color: #363636;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin-top: 70px;
}

/* * ~~~~~~~~~~~~~~~~ NAVBAR-SECTION ~~~~~~~~~~~~~~~~~ */

.navbar-section {
  height: 110px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 0px 11.3px 8px rgba(0, 0, 0, 0.15);
}

.navbar-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navbar-section .left {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navbar-section .logo {
  width: 100%;
}

.navbar-section .navbar-collapse {
  margin-left: 30px;
}

.navbar-section .navbar-collapse .nav-item {
  margin-left: 20px;
}

.navbar-section .navbar-collapse .nav-link {
  color: #151515;
  font-weight: 500;
  transition: 0.3s;
  font-size: 16px;
}

.navbar-section .navbar-collapse .nav-link.active {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-section .navbar-collapse .nav-link:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

.navbar-section .right {
  display: flex;
  gap: 30px;
  align-items: center;
}

.navbar-section .right .contact {
  color: #1b1f1b;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.navbar-section .right .contact .icon i {
  font-size: 18px;
}

/* ************* HEADING-BUTTON-SECTION *********** */

.heading-btn-section{
  display: none;
  align-items: center;
  justify-content: center;
  padding: 20px 15px;
}

.heading-btn-section .btn-align{
  display: flex;
  align-items: center;
  gap: 20px;
}




/* * ~~~~~~~~~~~~~~~~ HERO-SECTION ~~~~~~~~~~~~~~~~~ */

.hero-section {
  min-height: 500px;
  width: 100%;
  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section .hero-content {
  text-align: center;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;

  align-items: center;
  flex-direction: column;
}

.hero-section .hero-content .title {
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-style: italic;
  font-weight: 800;
  width: 80%;
  line-height: 52px;
}

.hero-section .hero-content .sub-title {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin-top: 20px;
  opacity: 0.9;
}

.hero-section .hero-content button {
  margin-top: 20px;
}

.hero-section::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(21, 21, 21, 0.35);
  z-index: 1;
}

/* * ~~~~~~~~~~~~~~~~ HERO-BOTTOM ~~~~~~~~~~~~~~~~~ */

.hero-bottom {
  padding: 25px 0px;
  width: 100%;
  min-height: 70px;
  background-color: var(--black-color);
}

.hero-bottom .container {
  min-height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.hero-bottom .container .item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hero-bottom .container .item .item-name {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

/* * ~~~~~~~~~~~~~~~~ DECKING-SECTION ~~~~~~~~~~~~~~~~~ */

.decking-section {
  padding: 60px 0px;
  min-height: 100vh;
}

.decking-linked {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 40px;
  border-bottom: 2px solid #b6b6b6;
}

.decking-linked button {
  border: none;
  color: #667085;
  background-color: transparent;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  font-style: italic;
  font-weight: 600;
  padding-bottom: 30px;
  line-height: 24px;
  transition: 0.3s;
}

.active-decking {
  color: var(--primary-color) !important;
  transition: 0.3s;
}

.decking-section .card-image-sec {
  padding: 30px 0px;
  border-top: 1px solid #b6b6b6;
}

.card-head {
  margin-bottom: 20px;
}

.card-head .card-title-name {
  color: var(--black-color);
  font-size: 20px;
  font-style: italic;
  font-weight: 800;
}

.card-head .card-sub-title {
  color: #667085;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

.decking-section .card-img {
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  min-height: 460px;
  border-radius: 8px;
  overflow: hidden;
}

#desert-oak .card-img {
  background-image: url("./assets/card-img-1.png");
}

.decking-section .card-image-sec .card-img .search {
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  background: rgba(255, 255, 255, 0.75);
  color: var(--black-color);
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translate(-50%, -50%);
  font-size: 22px;
  border-radius: 50%;
  cursor: pointer;
}

.decking-section .card-image-sec .card-img img {
  width: 100%;
  border-radius: 8px;
}

.decking-section .card-image-sec .short-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 10px;
  align-items: start;
  position: relative;
  min-height: 460px;
}

.decking-section .card-image-sec .short-card .img {
  border-radius: 8px;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

#desert-oak .short-card .img:nth-child(1) {
  background-image: url("./assets/short-1.png");
}

#desert-oak .short-card .img:nth-child(2) {
  background-image: url("./assets/short-2.png");
}

#desert-oak .short-card .img:nth-child(3) {
  background-image: url("./assets/short-3.png");
}

#desert-oak .short-card .img:nth-child(4) {
  background-image: url("./assets/short-4.png");
}

#desert-oak .short-card .img:nth-child(5) {
  background-image: url("./assets/short-5.png");
}

#desert-oak .short-card .img:nth-child(6) {
  background-image: url("./assets/short-6.png");
}

#desert-oak .short-card .img:nth-child(7) {
  background-image: url("./assets/short-7.png");
}

#desert-oak .short-card .img:last-child {
  background-image: url("./assets/short-4.png");
}

.decking-section .card-image-sec .short-card .last-img {
  position: relative;
}

.decking-section .card-image-sec .short-card .last-img {
  position: relative;
  text-align: center;
}

.decking-section .card-image-sec .short-card .last-img span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  color: #fff;
  font-weight: 500;
  transform: translate(-50%, -50%);
}

/* Blackbean */

#black-bean .card-img {
  background-image: url("./assets/bean-black.png");
}

#black-bean .short-card .img:nth-child(1) {
  background-image: url("./assets/bean-short-1.png");
}

#black-bean .short-card .img:nth-child(2) {
  background-image: url("./assets/short-2.png");
}

#black-bean .short-card .img:nth-child(3) {
  background-image: url("./assets/short-3.png");
}

#black-bean .short-card .img:nth-child(4) {
  background-image: url("./assets/short-4.png");
}

#black-bean .short-card .img:nth-child(5) {
  background-image: url("./assets/short-6.png");
}

#black-bean .short-card .img:nth-child(6) {
  background-image: url("./assets/short-5.png");
}

#black-bean .short-card .img:nth-child(7) {
  background-image: url("./assets/short-7.png");
}

#black-bean .short-card .img:last-child {
  background-image: url("./assets/short-3.png");
}

.btn-sec {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.my-btn-two {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: #fff;
}

#black-bean {
  display: none;
}

/* * ~~~~~~~~~~~~~~~~ ABOUT-SECTION ~~~~~~~~~~~~~~~~~ */

.about-section {
  padding: 50px 0px;
}

.about-section .head-desc {
  width: 70%;
}

.about-xtreme {
  min-height: 500px;
  display: flex;
  align-items: center;
}

.about-xtreme .row .left {
  display: flex;
  align-items: center;
}

.about-xtreme .row .right img,
.about-xtreme .row .right video {
  border-radius: 8px;
  overflow: hidden;
  object-fit: cover;
}

.title-name-sm {
  color: var(--black-color);
  font-size: 20px;
  font-style: italic;
  font-weight: 800;
}

.desc-sm {
  color: #363636;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

/* ? OUTDOOR */

.outdoor {
  padding: 50px 0px;
  background-color: #f9f9f9;
}

.outdoor .left {
  display: flex;
  align-items: center;
}

.outdoor .left img {
  height: 450px;
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
}

.outdoor .head-title {
  position: relative;
  text-align: left;
  line-height: 44px;
}

.outdoor .head-title::after {
  content: "";
  position: absolute;
  left: 50px;
  top: 110px;
}

.outdoor .desc-sm {
  margin-top: 80px;
}

.outdoor .btn-sec {
  justify-content: flex-start;
}

/* * ~~~~~~~~~~~~~~~~ BENEFITS-SECTION ~~~~~~~~~~~~~~~~~ */

.benefits-section {
  padding: 50px 0px;
}

.benefits-section .card-item {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.benefits-section .card-item .item {
  padding: 40px 30px;
  border-radius: 20px;
  border: 1px solid #dedede;
}

.benefits-section .card-item .item .item-name {
  color: var(--black-color);
  font-size: 24px;
  font-weight: 600;
  margin-top: 10px;
}

.benefits-section .card-item .item .item-desc {
  color: #3f3f3f;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 10px;
}

/* * ~~~~~~~~~~~~~~~~ COMPOSITE-SECTION ~~~~~~~~~~~~~~~~~ */

.composite-section {
  padding: 50px 0px;
}

.composite-section .choose-sec {
  margin-top: 80px;
}

.composite-section .choose-sec .first-col,
.composite-section .choose-sec .second-col {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.composite-section .choose-sec .first-col .content-part {
  text-align: right;
}

.composite-section .choose-sec .second-col .content-part {
  text-align: left;
}

.composite-section .choose-sec .center-col {
  display: flex;
  gap: 30px;
}

.composite-section .choose-sec .center-col .img-part {
  width: 100%;
  height: 360px;
  overflow: hidden;
}

.composite-section .choose-sec .center-col .img-part img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* * ~~~~~~~~~~~~~~~~ ENVIORONMENTAL-SECTION ~~~~~~~~~~~~~~~~~ */

.environment-section {
  padding: 50px 0px;
  background: linear-gradient(
      0deg,
      rgba(21, 21, 21, 0.35) 0%,
      rgba(21, 21, 21, 0.35) 100%
    ),
    url("./assets/greeny.png") lightgray 50% / cover no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 400px;
}

.environment-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.environment-section .container .content {
  width: 50%;
}

.environment-section .container .content .head-title {
  color: #fff;
  text-align: left;
}

.environment-section .container .content .head-title::after {
  left: 50px;
  top: 110px;
}

.environment-section .container .content .desc-sm {
  color: #fff;
  margin-top: 70px;
}

.environment-section .container .badge img {
  width: 100%;
}

/* * ~~~~~~~~~~~~~~~~ SCREEN-FENCING-SECTION ~~~~~~~~~~~~~~~~~ */

#weathered .card-img {
  background-image: url("./assets/screen-fencing-1.png");
}

#weathered .short-card .img:nth-child(1) {
  background-image: url("./assets/short-1.png");
}

#weathered .short-card .img:nth-child(2) {
  background-image: url("./assets/short-2.png");
}

#weathered .short-card .img:nth-child(3) {
  background-image: url("./assets/short-3.png");
}

#weathered .short-card .img:nth-child(4) {
  background-image: url("./assets/short-4.png");
}

#weathered .short-card .img:nth-child(5) {
  background-image: url("./assets/short-5.png");
}

#weathered .short-card .img:nth-child(6) {
  background-image: url("./assets/short-6.png");
}

#weathered .short-card .img:nth-child(7) {
  background-image: url("./assets/short-7.png");
}

#weathered .short-card .img:last-child {
  background-image: url("./assets/short-4.png");
}

#rustic .card-img {
  background-image: url("./assets/screen-fencing-2.png");
}

#rustic .short-card .img:nth-child(1) {
  background-image: url("./assets/short-1.png");
}

#rustic .short-card .img:nth-child(2) {
  background-image: url("./assets/short-2.png");
}

#rustic .short-card .img:nth-child(3) {
  background-image: url("./assets/short-3.png");
}
#rustic .short-card .img:nth-child(4) {
  background-image: url("./assets/short-3.png");
}

#rustic .short-card .img:last-child {
  background-image: url("./assets/short-4.png");
}

/* * ~~~~~~~~~~~~~~~~ INSTALLATION-SECTION ~~~~~~~~~~~~~~~~~ */

.installation-section {
  padding: 80px 0px;
  background-color: #f9f9f9;
  width: 100%;
}

.installation-section .head-title {
  text-align: left;
}

.installation-section .head-title::after {
  left: 50px;
  top: 110px;
}

.installation-section .desc-sm {
  margin-top: 60px;
}

.installation-section .second-installation-row,
.installation-section .last-installation-row {
  margin-top: 70px;
}

.installation-section img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* * ~~~~~~~~~~~~~~~~ ENVIROSLAT-SECTION ~~~~~~~~~~~~~~~~~ */

.enviroslat-section {
  padding: 50px 0px;
}

.enviroslat-section .card-image-sec {
  padding: 50px 0px;
}

.enviroslat-section .left-col img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* * ~~~~~~~~~~~~~~~~ SOLUTION-SECTION ~~~~~~~~~~~~~~~~~ */

.solution-section {
  padding: 50px 0px;
}

.solution-section .solution-item {
  margin-top: 80px;
}

.solution-section .solution-item .title-name {
  color: #1b1f1b;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.solution-section .solution-item .desc {
  margin-top: 15px;
  color: #363636;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

/* * ~~~~~~~~~~~~~~~~ STOCK-COLOR-SECTION ~~~~~~~~~~~~~~~~~ */

.stock-color-section {
  padding: 50px 0px;
  width: 100%;
}

.stock-color-section .stock-color {
  margin-top: 80px;
}

.stock-color-section .stock-color img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* * ~~~~~~~~~~~~~~~~ GALLERY-SECTION ~~~~~~~~~~~~~~~~~ */

.gallery-section {
  padding: 50px 0px;
}

.gallery-section .gallery-slider {
  margin-top: 100px;
  position: relative;
  width: 100%;
  display: flex !important;
  position: relative;
}

.gallery-section .slider-container {
  position: relative;
}

.gallery-section .slider-container .prev-btn {
  position: absolute;
  left: -30px;
  font-size: 24px;
  font-weight: 800;
  top: 40%;
  cursor: pointer;
}

.gallery-section .slider-container .next-btn {
  position: absolute;
  right: -30px;
  font-size: 24px;
  font-weight: 800;
  top: 40%;
  cursor: pointer;
}

.gallery-section .gallery-slider .img {
  height: 400px;
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
}

.gallery-section .gallery-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-slide {
  margin: 0px 15px;
}

.slick-dots {
  bottom: -50px;
}

.slick-dots li {
  width: 15px;
  height: 15px;
  padding: 1px;
}

.slick-dots li button:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 1;
  background-color: #dadada;
}

.slick-dots li.slick-active button:before {
  background-color: var(--primary-color);
}

/* * ~~~~~~~~~~~~~~~~ REVIEWS-SECTION ~~~~~~~~~~~~~~~~~ */

.reviews-section {
  padding: 50px 0px;
}

.reviews-section .reviews-slider {
  margin-top: 100px;
  position: relative;
  width: 100%;
  display: flex !important;
  align-items: stretch;
  position: relative;
  min-height: 55vh;
}

.reviews-section .slider-container {
  position: relative;
}

.reviews-section .slider-container .prev-btn {
  position: absolute;
  left: -30px;
  font-size: 24px;
  font-weight: 800;
  top: 25%;
  cursor: pointer;
}

.reviews-section .slider-container .next-btn {
  position: absolute;
  right: -30px;
  font-size: 24px;
  font-weight: 800;
  top: 25%;
  cursor: pointer;
}

.reviews-section .slider-container .reviews-item {
  padding: 20px;
  border-radius: 20px;
  min-height: 300px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  box-shadow: 0px 28.933px 61.56px 0px rgba(21, 21, 21, 0.15);
}

.reviews-section .slider-container .reviews-item .star {
  display: flex;
  gap: 0px;
  justify-content: center;
}

.reviews-section .slider-container .reviews-item .desc {
  color: #363636;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  margin-top: 20px;
}

.reviews-section .slider-container .reviews-item .client {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 30px;
}

.reviews-section .slider-container .reviews-item .client .img {
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.reviews-section .slider-container .reviews-item .client .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews-section .slider-container .reviews-item .client .name {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

/* * ~~~~~~~~~~~~~~~~ CONTACT-SECTION ~~~~~~~~~~~~~~~~~ */

.contact-section {
  min-height: 400px;
  background: linear-gradient(
      0deg,
      rgba(21, 21, 21, 0.65) 0%,
      rgba(21, 21, 21, 0.65) 100%
    ),
    url("./assets/contact.jpeg") lightgray 50% / cover no-repeat;
}

.contact-section .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-section .container .contact-content {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
}

.contact-section .container .contact-content .title {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-style: italic;
  font-weight: 800;
  line-height: 44px;
}

.contact-section .container .contact-content button {
  margin-top: 30px;
}

/* * ~~~~~~~~~~~~~~~~ FOOTER-SECTION ~~~~~~~~~~~~~~~~~ */

.footer-section {
  padding: 50px 0px;
}

.footer-section .container {
  display: flex;
  justify-content: center;
}

.footer-section .container .footer-content {
  text-align: center;
  width: 75%;
}

.footer-section .container .footer-content .logo img {
  width: 225px;
}

.footer-section .container .footer-content .desc-sm {
  margin-top: 30px;
  color: #363636;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

/* * ~~~~~~~~~~~~~~~~ MODAL-SECTION ~~~~~~~~~~~~~~~~~ */

#costCalculator .modal-content {
  padding: 20px;
  position: relative;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
}

#costCalculator iframe {
  font-family: "Montserrat", sans-serif;
}

#costCalculator .modal-dialog {
}

#costCalculator .modal-content .main-content {
  text-align: center;
}

#costCalculator .modal-content .main-content .dimension {
  display: flex;
  justify-content: center;
  align-items: center;
}

#costCalculator .modal-content .main-content .line-dimension {
  display: flex;
  height: 2px;
  width: 90%;
  background-color: #eaecf0;
  margin-top: 40px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

#costCalculator .modal-content .main-content .line-dimension .item:first-child {
  display: flex;
  flex-direction: column;
  align-items: start;
}

#costCalculator .modal-content .main-content .line-dimension .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#costCalculator .modal-content .main-content .line-dimension .item:last-child {
  display: flex;
  flex-direction: column;
  align-items: end;
}

#costCalculator .modal-content .main-content .line-dimension .circle {
  height: 25px;
  width: 25px;
  border: 8px solid #f2f4f7;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  top: 10px;
}

#costCalculator
  .modal-content
  .main-content
  .line-dimension
  .active-item
  .circle {
  border: 8px solid var(--primary-color);
}

#costCalculator
  .modal-content
  .main-content
  .line-dimension
  .active-item
  .name {
  color: var(--primary-color) !important;
}

#costCalculator .modal-content .main-content .line-dimension .item .name {
  position: relative;
  top: 20px;
  color: #363636;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

#costCalculator
  .modal-content
  .main-content
  .line-dimension
  .item
  .name.first-name {
  position: relative;
  left: -30%;
}

#costCalculator
  .modal-content
  .main-content
  .line-dimension
  .item
  .name.last-name {
  position: relative;
  left: 30%;
}

#costCalculator .modal-content .main-content .heading-name {
  color: var(--primary-color);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

#costCalculator .modal-content .main-content .area-calc .area {
  color: #5c5e61;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  margin-right: 20px;
}

#costCalculator .modal-content .main-content .area-calc {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 30px;
  justify-content: center;
}

#costCalculator .modal-content .main-content .area-calc .input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#costCalculator .modal-content .main-content .area-calc .input-box .input-item {
  border: 2px solid #d0d5dd;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#costCalculator .modal-content .main-content .area-calc input {
  color: #5c5e61;
  text-align: center;
  font-size: 52px;
  font-weight: 400;
  width: 85px;
  height: 80px;
  border: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#costCalculator .modal-content .main-content .area-calc .cross {
  color: #d0d5dd;
  text-align: center;
  font-size: 60px;
  font-weight: 500;
}

#costCalculator .modal-content .main-content .area-calc .input-box span {
  color: #5c5e61;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 8px;
}

#costCalculator .modal-content .main-content .area-calc .wastage-input {
  margin-left: 80px;
}

#costCalculator
  .modal-content
  .main-content
  .area-calc
  input::-webkit-outer-spin-button,
#costCalculator
  .modal-content
  .main-content
  .area-calc
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#costCalculator .modal-content .main-content .title {
  color: var(--black-color);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-top: 10px;
  line-height: 30px;
}

#costCalculator .modal-content .main-content .desc {
  color: #363636;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  margin-top: 20px;
  line-height: 16px;
}

#costCalculator .modal-content .main-content .title-name {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 500;
  margin-top: 30px;
}

#costCalculator .modal-content .main-content .area-btn {
  color: var(--black-color);
  padding: 6px 15px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #667085;
  background-color: transparent;
  margin-top: 30px;
}

#costCalculator .modal-content .main-content .area-btn span {
  color: var(--primary-color);
}

#costCalculator .modal-content .main-content .note {
  color: #363636;
  font-size: 10px;
  font-weight: 500;
  margin-top: 20px;
}

#costCalculator .modal-content .next-btn {
  width: 100px;
  height: 40px;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  margin-top: 15px;
  background: var(--primary-color);
}

#costCalculator .cancel-modal {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  line-height: 30px;
  font-size: 28px;
  position: absolute;
  left: 10px;
  top: 10px;
  display: none;
}

/* ! ~~~~~~~~~~~~~~~ RESPONSIVE START HERE ~~~~~~~~~~~~~~~ */

@media screen and (max-width: 1400px) {
  .outdoor .head-title::after {
    top: 150px;
  }
}

@media screen and (max-width: 1200px) {
  .environment-section .container .content {
    width: 60%;
  }

  .installation-section .second-installation-row .head-title::after,
  .installation-section .last-installation-row .head-title::after {
    top: 150px;
  }
}

@media screen and (max-width: 991px) {
  .my-btn {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--primary-color);
    padding: 15px 20px;
    width: auto;
    height: auto;
    text-align: center;
    border-radius: 6px;
  }


  #closeBtn {
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
  }

  #menuBar {
    display: block;
    font-size: 26px;
    font-weight: 700;
    cursor: pointer;
  }

  #collapseMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    background-color: #1b1f1b;
    height: 100vh;
    width: 100vw;
    right: -100vw;
    top: 0;
    transition: 0.3s;
    z-index: 999999;
  }

  .navbar-section .navbar-collapse .navbar-nav {
    display: flex !important;
    justify-content: start;
    align-items: center;
    width: 100%;
  }

  .navbar-section .navbar-collapse .nav-item {
    margin-left: 0;
  }
  .navbar-section .navbar-collapse .nav-link {
    color: #fff;
    font-size: 18px;
  }

  .navbar-section .right {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
  }

  .navbar-section .right .contact {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
  }

  /* ? HERO-SECTION */

  .hero-section .hero-content .title {
    width: 100%;
    font-size: 36px;
    line-height: 44px;
  }

  /* ? DECKING-SECTION */

  .short-card-sec {
    margin-top: 20px;
  }

  .head-desc {
    width: 80%;
  }

  .about-section .head-desc {
    width: 90%;
  }

  .about-xtreme .row .right {
    margin-top: 40px;
  }

  /* ? OUTDOOR-SECTION */

  .outdoor .row {
    flex-direction: column-reverse;
  }

  .outdoor .row .left {
    margin-top: 40px;
  }

  .outdoor .head-title::after {
    top: 110px;
  }

  /* ? BENEFITS-SECTION */
  .benefits-section .card-item {
    grid-template-columns: 1fr 1fr;
  }

  /* ? COMPOSITE-SECTION */

  .composite-section .choose-sec .center-col,
  .composite-section .choose-sec .second-col {
    margin-top: 30px;
  }

  .composite-section .choose-sec .first-col .content-part {
    text-align: center;
  }

  .composite-section .choose-sec .second-col .content-part {
    text-align: center;
    width: 100%;
  }

  /* ? ENVIRONMENT-SECTION */

  .environment-section .container {
    flex-direction: column;
    gap: 50px;
  }

  .environment-section .container .content {
    width: 100%;
  }

  /* ? INSTALLATION-SECTION */

  .installation-section .head-title::after {
    top: 70px;
  }

  .installation-section .second-installation-row .head-title::after,
  .installation-section .last-installation-row .head-title::after {
    top: 110px;
  }

  .installation-section .second-installation-row {
    flex-direction: column-reverse;
  }
  /* ? ENVIROSLAT-SECTION */

  .enviroslat-section .head-title::after {
    top: 110px;
  }

  .enviroslat-section .right-col {
    margin-top: 40px;
  }

  /* ? SOLUTION-SECTION */

  .solution-section .head-title::after {
    top: 110px;
  }

  /* ? CONTACT-SECTION */

  .contact-section .container .contact-content {
    width: 80%;
  }

  /* ? FOOTER-SECTION */

  .footer-section .container .footer-content {
    width: 100%;
  }

  #costCalculator .modal-content .main-content .area-calc input {
    font-size: 32px;
    width: 55px;
    height: 60px;
  }

  #costCalculator .modal-content .main-content .area-calc .wastage-input {
    margin-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .floating-chat {
    position: fixed;
    right: 2%;
    width: 100%;
    bottom: 20px;
    height: 70px;
    width: 70px;
  }
  .head-title {
    font-size: 30px;
    line-height: 36px;
  }

  .head-title::after {
    top: 60px;
  }

  .outdoor .head-title {
    line-height: 36px;
  }

  .outdoor .head-title::after {
    top: 90px;
  }

  .head-desc {
    width: 100%;
  }

  .about-section .head-desc {
    width: 100%;
  }

  .about-section .head-content .head-title::after {
    top: 60px;
  }

  /* ? COMPOSITE-SECTION */

  .composite-section .head-title::after {
    top: 90px;
  }

  /* ? BENEFITS-SECTION */

  .benefits-section .head-title::after {
    top: 60px;
  }
  .benefits-section .card-item {
    grid-template-columns: 1fr;
  }

  .environment-section .container .content .head-title::after {
    top: 90px;
  }

  .installation-section .head-title::after {
    top: 90px;
  }

  .installation-section .second-installation-row .head-title::after,
  .installation-section .last-installation-row .head-title::after {
    top: 90px;
  }

  .enviroslat-section .head-title::after {
    top: 90px;
  }

  .solution-section .head-title::after {
    top: 90px;
  }

  .stock-color-section .head-title::after {
    top: 50px;
  }

  #costCalculator .modal-content .main-content .line-dimension {
    width: 100%;
  }

  #costCalculator
    .modal-content
    .main-content
    .line-dimension
    .item
    .name.first-name {
    position: relative;
    left: 0%;
  }

  #costCalculator
    .modal-content
    .main-content
    .line-dimension
    .item
    .name.last-name {
    position: relative;
    left: 0%;
  }

  #costCalculator .modal-content .main-content .line-dimension .item .name {
    font-size: 10px;
  }
}

@media screen and (max-width: 576px) {
  .navbar-section {
    height: 85px;
  }
  .navbar-section .logo {
    width: 100px;
  }

  .heading-btn-section{
    display: flex;
  }

  /* *~~~~ Hero-section ~~ */
  .hero-section .hero-content .title {
    width: 100%;
    font-size: 28px;
    line-height: 36px;
  }

  .hero-section .hero-content .sub-title {
    font-size: 18px;
  }

  /* *~~~~ Hero-Bottom ~~ */

  .hero-bottom .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px 15px;
  }

  /* Decking-sec */
  .head-title {
    font-size: 28px;
    line-height: 32px;
  }

  .decking-section .card-image-sec .card-img {
    min-height: 400px;
  }

  .decking-section .card-image-sec .short-card {
    grid-template-columns: 1fr 1fr;
    min-height: 440px;
  }

  .decking-linked {
    gap: 0px;
    padding: 0;
  }

  .decking-linked button {
    font-size: 16px;
    padding-bottom: 8px;
    line-height: 20px;
  }

  .btn-sec {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-direction: column;
  }

  .about-xtreme .right img,
  .about-xtreme .right video {
    height: 400px;
  }

  .outdoor .left img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  .outdoor .head-title {
    position: relative;
    text-align: left;
    line-height: 32px;
  }

  .outdoor .head-title::after {
    top: 90px;
  }

  .installation-section .head-title::after {
    top: 60px;
  }

  /* ? COMPOSITE-SECTION */

  .composite-section .head-title::after {
    top: 60px;
  }

  .composite-section .choose-sec {
    margin-top: 80px;
  }

  .composite-section .choose-sec .center-col {
    display: flex;
    gap: 20px;
  }

  .composite-section .choose-sec .center-col .img-part {
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

  .composite-section .choose-sec .first-col {
    text-align: center;
  }

  .composite-section .choose-sec .second-col {
    flex-direction: column;
    margin-top: 40px;
    align-items: flex-start;
  }

  .composite-section .choose-sec .center-col .img-part img {
    border-radius: 12px;
  }

  /* ? GALLERY-SECTION */
  .gallery-section .gallery-slider .img {
    height: 300px;
  }

  .contact-section .container .contact-content {
    width: 100%;
  }

  .contact-section .container .contact-content .title {
    font-size: 28px;
    line-height: 32px;
  }

  .footer-section .container .footer-content .logo img {
    width: 150px;
  }

  .footer-section .container .footer-content {
    width: 100%;
  }

  #costCalculator .modal-content .main-content .area-calc .area {
    margin-right: 10px;
  }

  #costCalculator .modal-content .main-content .title-name {
    margin-top: 10px;
  }

  #costCalculator .modal-content .main-content .area-calc {
    margin-top: 15px;
  }

  #costCalculator .modal-content .main-content .desc {
    margin-top: 10px;
  }

  #costCalculator .modal-content .main-content .area-calc input {
    font-size: 24px;
    width: 55px;
    height: 60px;
  }

  #costCalculator .modal-content .main-content .area-calc .cross {
    font-size: 32px;
  }

  #costCalculator .modal-content .main-content .area-calc .wastage-input {
    margin-left: 30px;
  }

  #costCalculator .modal-content {
    padding: 20px;
  }

  #costCalculator .modal-content .main-content .title {
    font-size: 16px;
  }

  #costCalculator .cancel-modal {
    display: block;
  }
}

@media screen and (max-width: 525px) {
  .composite-section .head-title::after {
    top: 90px;
  }

  .installation-section .head-title::after {
    top: 90px;
  }
}

@media screen and (max-width: 500px) {
  .benefits-section .head-title::after {
    top: 90px;
  }

  .about-section .head-content .head-title::after {
    top: 85px;
  }
}

@media screen and (max-width: 475px) {
  .outdoor .head-title::after {
    top: 115px;
  }
}

@media screen and (max-width: 440px) {
  .head-title::after {
    content: "";
    height: 15px;
    width: 100px;
  }

  .reviews-section .head-title::after {
    top: 60px;
  }

  .gallery-section .head-title::after {
    top: 60px;
  }
}

@media screen and (max-width: 435px) {
  .head-title::after {
    top: 85px;
  }

  .screen-fencing .head-title::after {
    top: 60px;
  }
}

@media screen and (max-width: 395px) {
  .screen-fencing .head-title::after {
    top: 50px;
  }

  .installation-section .second-installation-row .head-title::after,
  .installation-section .last-installation-row .head-title::after {
    top: 115px;
  }

  .gallery-section .head-title::after {
    top: 55px;
  }

  .environment-section .container .content .head-title::after {
    top: 115px;
  }
}

@media screen and (max-width: 385px) {
  .stock-color-section .head-title::after {
    top: 55px;
  }

  .installation-section .head-title::after {
    top: 85px;
  }

  .environment-section .container .content .head-title::after {
    top: 115px;
  }
}

@media screen and (max-width: 370px) {
  .screen-fencing .head-title::after {
    top: 85px;
  }
}

@media screen and (max-width: 360px) {
  .enviroslat-section .head-title::after {
    top: 115px;
  }

  .stock-color-section .head-title::after {
    top: 85px;
  }

  .head-title {
    font-size: 26px;
    line-height: 30px;
  }
}
